@page
@model MealPlan.Pages.ActivityLevel.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityLevels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityLevels.ActivityLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityLevels.ActivityLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityLevels.ActivityDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityLevels.ActivityDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityLevels.BioData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityLevels.BioData.Gender)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ActivityLevels.BioId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
