@page
@model MealPlan.Pages.ActivityLevel.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityLevels[0].ActivityLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityLevels[0].ActivityDescription)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityLevels[0].BioData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ActivityLevels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BioData.Gender)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BioId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BioId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
